.taskList {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.taskListHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  margin-bottom: 1.5rem;
}

.taskListHeader span {
  background: var(--gray-400);
  padding: 0 0.5rem;
  color: var(--gray-100);
}

.taskListItemsLen {
  color: var(--blue);
}

.taskListConcludeList {
  color: var(--purple);
}

.taskListItemContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  font-weight: lighter;

  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;

  background: var(--gray-500);

  border: 0.05rem solid var(--gray-400);
}

.taskListItemContainer time {
  color: var(--gray-300);
}

.taskListItemCheckBoxContainer {
  display: flex;
  align-items: flex-start;
  flex-grow: 4;
  flex-direction: row;
  gap: 1rem;
  color: var(--gray-100);
}

input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  font: inherit;
  color: var(--blue);
  max-width: 1.15em;
  max-height: 1.15em;
  min-width: 1.15em;
  min-height: 1.15em;
  border: 0.15em solid;
  border-radius: 100%;
  transform: translateY(0.075em);
}

input[type="checkbox"]:checked {
  background: var(--purple-dark);
  color: var(--purple-dark);
}

input[type="checkbox"]:checked::after {
  content: "✓";
  font-weight: bolder;
  margin-left: 5%;
  line-height: 0;
  color: var(--gray-100);
}